@use './../../styles/variables/colors.scss' as v;

.optionsButton {
  cursor: pointer;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  border-radius: 17px;
  width: 34px;
  height: 34px;
  margin-bottom: 10px;
  display: flex;
  gap: 4px;
  border: none;
  outline: none;
  background-color: transparent;

  &:hover {
    background-color: v.$baseNeutral;
  }

  &:active {
    opacity: 0.5;
  }

  .optionsButton__dot {
    border-radius: 3px;
    min-width: 6px;
    height: 6px;
    background-color: v.$neutralDark;
  }
}
