@use './../../styles/variables/colors.scss' as v;

.userBadge {
  &__container {
    padding: 5px;
    display: flex;
    align-items: center;
  }

  &__avatar {
    width: 30px;
    height: 30px;
    border-radius: 21px;
    margin-right: 14px;
  }

  &__name {
    font-size: 18px;
    line-height: 22px;
    font-weight: 600;
    color: v.$neutralDark;
  }

  &__deleteUser {
    margin-left: 5px;
    width: 30px !important;
    height: 30px !important;
    background-color: v.$activeError;
  }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

input[type='number'] {
  appearance: textfield; /* Firefox */
}
