@use 'variables/colors' as v;
@use './normalize.scss';

* {
  box-sizing: border-box;
}

body {
  font-family: Manrope, sans-serif;
  height: 100vh;
}

.center-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.full-height {
  height: 100%;
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  border-radius: 10px;
  background: rgba(0, 0, 0, 0.1);
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: rgba(0, 0, 0, 0.2);
}
