@use './../../styles/variables/colors.scss' as v;

.message {
  position: relative;
  font-size: 14px;
  line-height: 20px;
  padding: 5px 10px 20px;
  background-color: v.$activeNeutral;
  color: black;
  border-radius: 10px;
  width: 55%;
  min-width: 100px;

  &_notMy {
    align-self: flex-end;
  }

  &__time {
    position: absolute;
    color: v.$neutralDark;
    font-size: 12px;
    right: 10px;
    bottom: 5px;
  }

  &__image {
    border-radius: 10px;
    position: relative;
    margin-top: -5px;
    margin-bottom: -25px;
    left: -10px;
    width: calc(100% + 20px);
  }
}
