@use './../../styles/variables/colors.scss' as v;

.chatUsers {
  &__container {
    display: flex;
    gap: 20px;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  &__button {
    flex-shrink: 0;
    margin-right: 10px;
    rotate: 45deg;
    width: 30px !important;
    height: 30px !important;
    background-color: v.$activeLight;
  }

  &__addUserContainer {
    padding: 5px;
    margin-left: auto;
    display: flex;
    align-items: center;
  }

  &__input {
    padding: 10px;
    border-radius: 5px;
    border: none;
    outline: none;
    width: 100px;
  }
}
